*{
	padding: 0;
	margin: 0;
}

body
{
	background-color: #252525;
	#img{
		position: absolute
	}
	overflow-x: hidden;
	overflow-y: hidden;
}

a:visited {
	color: #fff;
}

#back {
	background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/9bc27292880429.5e569ff84e4d0.gif");
	background-size: contain;
	height: 100vh;
	width: 100vw;
}

#moncercle{
	background-color:#000000;
	border-radius:50%;
	width:300px;
	height:300px;
	filter: drop-shadow(0 0 0 rgb(99, 218, 198)) drop-shadow(0 0 5px rgb(99, 218, 198));
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	animation: pulse 2s infinite ease-in-out;
	transition: transform 0.2s;
	transition:
		top 0.6s ease-in-out,
		left 0.6s ease-in-out,
		width 0.6s ease-in-out,
		height 0.6s ease-in-out,
		border-radius 0.6s ease-in-out,
		filter 0.6s ease-in-out,
		background-color 0.6s ease-in-out;
	&.expand {
		width: 100vw;
		height: 100vh;
		top: 50%;
		left: 50%;
		filter:none;
		transform: translate(-50%, -50%);
		border-radius: 0;
		background-color: #000000;
	}
	cursor: pointer;
	#img {
		width:200px;
		height:200px;
		top: 51%;
		left: 49%;
		transform: translate(-50%, -50%);
		transition:
			opacity 0.3s ease-in-out;
		filter: drop-shadow(0 0 0 rgb(99, 218, 198)) drop-shadow(0 0 5px rgb(99, 218, 198));
	}

	&.expand #img {
		opacity: 0;
	}
}

@keyframes pulse {
	0%   { transform: translate(-50%, -50%) scale(1); }
	50%  { transform: translate(-50%, -50%) scale(1.1); }
	100% { transform: translate(-50%, -50%) scale(1); }
}

#back_login{
	margin: 0;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	width: 100%;
	padding: 0 10px;
}

#back_login::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/9bc27292880429.5e569ff84e4d0.gif"), #000;
  background-position: center;
  background-size: cover;
}

.wrapper {
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
	width: 400px;
	border-radius: 8px;
	padding: 30px;
	text-align: center;
	border: 1px solid rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
}
form {
	display: flex;
	flex-direction: column;
}
h2 {
	font-size: 2rem;
	margin-bottom: 20px;
	color: #fff;
}
.input-field {
	position: relative;
	border-bottom: 2px solid #ccc;
	margin: 15px 0;
}
.input-field label {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	color: #fff;
	font-size: 16px;
	pointer-events: none;
	transition: 0.15s ease;
}
.input-field input {
	width: 100%;
	height: 40px;
	background: transparent;
	border: none;
	outline: none;
	font-size: 16px;
	color: #fff;
}
.input-field input:focus~label,
.input-field input:not(:placeholder-shown)~label {
	font-size: 0.8rem;
	top: 10px;
	transform: translateY(-120%);
}
.forget {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 25px 0 35px 0;
	color: #fff;
}
#remember {
	accent-color: #fff;
}
.forget label {
	display: flex;
	align-items: center;
}
.forget label p {
	margin-left: 8px;
}
.wrapper a {
	color: #efefef;
	text-decoration: none;
}
.wrapper a:hover {
	text-decoration: underline;
}
button {
	background: #fff;
	color: #000;
	font-weight: 600;
	border: none;
	padding: 12px 20px;
	cursor: pointer;
	border-radius: 3px;
	font-size: 16px;
	border: 2px solid transparent;
	transition: 0.3s ease;
}
button:hover {
	color: #fff;
	border-color: #fff;
	background: rgba(255, 255, 255, 0.15);
}
.register, .login {
	text-align: center;
	margin-top: 30px;
	color: #fff;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
    -webkit-text-fill-color: white;
    caret-color: white;
    background-color: transparent;
    //transition: background-color 9999s ease-out, color 9999s ease-out;
}


#lobby {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0);
	#rectangle {
		top: 0%;
		left: 0%;
		position: absolute;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 10px 50vw 10px 50vw;
		border-color: #000000 #000000 #000000 #000000;
		z-index: 4;
	}
	#barres {
		top: 200px;
		left: 50%;
		display: flex;
		align-items: center;
		position: absolute;
		transform: translateX(-50%);
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 50vh 20px 50vh 20px;
		border-color: #000000 #000000 #000000 #000000;
		z-index: 2;
	}
	#border {
		position: absolute;
		top: 19px;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 200px 50vw 0 50vw;
		border-color: #000000 transparent transparent transparent;
		z-index: 4;
	}

	#selection1 {
		position: absolute;
		left: 0;
		top: 0px;
		/*background-image: url("https://img.freepik.com/photos-gratuite/vaisseau-spatial-brillant-orbite-autour-planete-dans-galaxie-etoilee-generee-par-ia_188544-9655.jpg?t=st=1753794048~exp=1753797648~hmac=fe305c37f43ac01c59fb83924bbf212cfdb9610230e69db1e6892f967c4846f8&w=1380");
		background-repeat: no-repeat;
		background-size: cover;
		background-clip: padding-box;*/
		//background-origin: border-box;
		width: calc(50vw - 20px);
		height: 100vh;
		transition:
				top 0.3s ease,
				background-size 0.3s ease,
				width 0.3s ease,
				height 0.3s ease;
		//z-index: 2;
		.topgame1, .game1 {
			background: none;
		}

		.topgame1{
			//background-color: #2e2e2e;
			background-image: url("https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
			background-repeat: no-repeat;
			background-size: cover;
			background-position-y: 0px;
			z-index: 7;
			clip-path: polygon(0% 100%, 100% 100%, 100% 97%, 0% 0%);
			position: absolute;
			left: 0;
			top: 19px;
			width: calc(50vw - 20px);
			height: 201px;
			transition:
				background-size 0.3s ease,
				top 0.3s ease,
				clip-path 0.3s ease,
				width 0.3s ease,
				height 0.3s ease;
			cursor: default;
		}

		.topgame1:hover, .topgame1.active{
			//background-color: #292525;
			//background-size: 100%;
			clip-path: polygon(0% 100%, 100% 100%, 100% 90%, 0% 0%);
			width: calc(50vw);
			top: 0px;
			height: 222px;
		}

		.game1 {
			position: absolute;
			top: 0px;
			left: 0;
			right: 0;
			bottom: 0;
			background-image: url("https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
			background-size: cover;
			background-repeat: no-repeat;
			background-clip: border-box;
			background-position-y: bottom;
			//background-color: #2e2e2e;
			box-sizing: border-box;
			width: calc(50vw - 20px);
			height: 100vh;
			transition:
				//background-size 0.3s ease,
				top 0.3s ease,
				width 0.3s ease,
				color 0.3s ease;
			h2{
				left: 25%;
				top: 50%;
				font-size: 42px;
				color: #000000;
				z-index: 10;
			}
			z-index: 3;
		}
		.game1:hover, .game1.active{
			width: 50vw;
			top: 0px;
			//background-size: cover;
			//background-color: #292525;
			h2{
				color: #ccc;
			}
		}
	}
	#selection1.active{
		//z-index: 5;
		height: 100%;
		width: 50vw;
	}

	#selection2 {
		//background-image: url("https://img.freepik.com/photos-gratuite/vaisseau-spatial-brillant-orbite-autour-planete-dans-galaxie-etoilee-generee-par-ia_188544-9655.jpg?t=st=1753794048~exp=1753797648~hmac=fe305c37f43ac01c59fb83924bbf212cfdb9610230e69db1e6892f967c4846f8&w=1380");
		background-repeat: no-repeat;
		background-size: cover;
		.topgame2, .game2 {
			background: none;
		}
		.topgame2{
			background-color: #444;
			clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 97%);
			position: absolute;
			left: calc(50vw + 20px);
			top: 19px;
			width: calc(50vw - 20px);
			height: 201px;
			transition: 
				background-color 0.3s ease,
				top 0.3s ease,
				left 0.3s ease,
				clip-path 0.3s ease,
				width 0.3s ease,
				height 0.3s ease;
			z-index: 7;
			background-position: top;
			cursor: default;
		}
		
		.topgame2.active, .topgame2:hover{
			clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 90%);
			background-color: #3d3737;
			top: 0px;
			left: 50vw;
			width: calc(50vw);
			height: 222px;
		}

		.game2 {
			position: absolute;
			//padding: 20px;
			top: 220px;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #444;
			width: 50vw;
			height: 100vh;
			left: calc(50% + 20px);
			box-sizing: border-box;
			transition:
				left 0.3s ease,
				background-color 0.3s ease,
				width 0.3s ease,
				color 0.3s ease;
			h2{
				left: 75%;
				top: 50%;
				font-size: 42px;
				color: #000000;
				z-index: 10;
			}
			background-position: bottom;
			z-index: 7;
		}
		.game2:hover{
			left: 50%;
			width: 50vw;
			background-color: #3d3737;
			h2{
				color: #ccc;
			}
		}
		.game2.active {
			left: 50%;
			width: 50vw;
			background-color: #3d3737;
			h2{
				color: #ccc;
			}
		}
	}
	#profils {
		background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/9bc27292880429.5e569ff84e4d0.gif");
		background-size: contain;
		position: absolute;
		clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
		top: 0%;
		left: 0%;
		width: 100%;
		height: 200px;
		/*border-style: solid;
		border-width: 200px 50vw 0 50vw;
		border-color: #ee5e0b transparent transparent transparent;*/
		z-index: 6;
		#parametre {
			//display: flex;
			//padding: 10px;
			img {
				width: 40px;
				height: 40px;
				cursor: pointer;
				transition: transform 0.2s ease;
				&:hover {
					transform: scale(1.1);
				}
			}
		}
		#friends {
			
		}
		#perso {
			
		}
	}
}

#chat-container {
	position: absolute;
	top: 87%;
	left: 10px;
}
